force-app/main/default/flows/Create_A_Contract_with_Opportunity_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Updated_OLI_to_Collection</name>
        <label>Add Updated OLI to Collection</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ContractProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Relate Opportunity Line Items to Contract</description>
        <name>Assign_Contract_ID_to_OLI</name>
        <label>Assign Contract ID to OLI</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference
      >Loop_through_Products.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_OLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <description
  >Creates Contract only when status updates to Closed Won</description>
    <environments>Default</environments>
    <formulas>
        <description
    >Returns &apos;In Approval Process&apos; if Opportunity Amount is $5000 or more, otherwise returns &apos;Draft&apos;</description>
        <name>GetStatus</name>
        <dataType>String</dataType>
        <expression
    >IF({!$Record.Amount} &gt;= 5000, &apos;In Approval Process&apos;, &apos;Activated&apos;)</expression>
    </formulas>
    <interviewLabel
  >Create A Contract with Opportunity Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create A Contract with Opportunity Related Records</label>
    <loops>
        <name>Loop_through_Products</name>
        <label>Loop through Products</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_ID_to_OLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference
      >Update_Record_Status_Based_on_Opportunity_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedId</field>
            <value>
                <elementReference
        >Get_Opportunity.Account.Sales_ManagerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_OpportunityId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All The Opportunity Line Items</description>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description
    >Get all the Opportunity Line Items with the Contract IDs</description>
        <name>Update_Opportunity_Line_Items</name>
        <label>Update Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <inputReference>ContractProductCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Status_Based_on_Opportunity_Amount</name>
        <label>Update Record Status Based on Opportunity Amount</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>GetStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Contract</elementReference>
        </value>
    </variables>
</Flow>
