force-app/main/default/flows/Send_Notification_to_the_Sales_Manager_When_Customer_Hasn_t_Been_Contacted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Sends Custom Notification if Customer (Account) has not been contacted for 3 or more weeks.</description>
        <name>Send_Custom_Notification_if_Customer_hasn_t_been_contacted</name>
        <label
    >Send Custom Notification if Customer hasn&apos;t been contacted</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notificiation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue
        >The Customer {!$Record.Name} has not been contacted for 3 or more weeks.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A Customer has not been contacted.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>sales_managers_ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Sales_Manager_to_the_List</name>
        <label>Add Sales Manager to the List</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>sales_managers_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sales_managers_ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Send_Custom_Notification_if_Customer_hasn_t_been_contacted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Custom_Notification_Exists</name>
        <label>Check If Custom Notification Exists</label>
        <locationX>336</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Notification_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Custom_Notificiation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Check_if_Sales_Manager_Is_Assigned_To_An_Account</targetReference>
            </connector>
            <label>Custom Notification Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Sales_Manager_Is_Assigned_To_An_Account</name>
        <label>Check if Sales Manager Is Assigned To An Account</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Manager_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Sales_ManagerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sales_Manager_to_the_List</targetReference>
            </connector>
            <label>Sales Manager Assigned?</label>
        </rules>
    </decisions>
    <description
  >Sends notification to the Sales Manager when a customer has not been contacted for 3 or more weeks</description>
    <environments>Default</environments>
    <interviewLabel
  >Send Notification to the Sales Manager When Customer Hasn&apos;t Been Contacted {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Send Notification to the Sales Manager When Customer Hasn&apos;t Been Contacted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notificiation</name>
        <label>Get Custom Notificiation</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Check_If_Custom_Notification_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue
        >Sales_Manager_Customer_Has_Not_Been_Contacted_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notificiation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Days_Since_Last_Activity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_Since_Last_Opportunity_Created__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-28</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>regional_managers_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sales_managers_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
